<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Product</title>
  <link rel="stylesheet" th:href="@{/static/css/index.css}">
  <script src="../static/js/addProduct.js" defer></script>
  <script src="../static/js/menu.js" defer></script>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:insert="~{header :: head}"></div>
<div class="adminMain">
<h1>Добавить продукт</h1>
<form id="product-form" class="addForm" action="@{'/adminPage}">
  <br>
  <br>
  <br>
  <br>
  <label for="product-text">Название: </label>
  <input type="text" id="product-text" required><br>
  <br>
  <br>
  <br>
  <br>
  <label for="product-img">Image URL: </label>
  <input type="url" id="product-img" required><br>
  <br>
  <br>
  <br>
  <br>
  <button class="reg" type="submit" >Add Product</button>
</form>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
